<div class="row">
    <div class="col-8">
      <label>
        <input
          type="file"
          class="text-nowrap text-truncate"
          
        /><!--(change)="selectFile($event)"-->
      </label>
    </div>
  
    <div class="col-4">
      <button
        class="btn btn-success btn-sm"
        [disabled]="!selectedFiles"
        
      ><!--(click)="upload()"-->
        Upload
      </button>
    </div>
  </div>
  
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <div
      class="progress-bar progress-bar-info"
      role="progressbar"
      attr.aria-valuenow="{{ percentage }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: percentage + '%' }"
    >
      {{ percentage }}%
    </div>
  </div>


<div class="form">
    inserire nuova immagine
   <form [formGroup]="form">
        <div class="border" style="background-color: white;" >
            <label for="title"> titolo </label>
            <input type="text"formControlName="title" >
        </div><div class="row">
            <div class="col-8">
              <label>
                <input
                  type="file"
                  class="text-nowrap text-truncate"
                  
                /><!--(change)="selectFile($event)"-->
              </label>
            </div>
          
            <div class="col-4">
              <button
                class="btn btn-success btn-sm"
                [disabled]="!selectedFiles"
                
              >
              <!-- (click)="upload()"-->
                Upload
              </button>
            </div>
          </div>
          
          <div *ngIf="currentFileUpload" class="progress mt-2">
            <div
              class="progress-bar progress-bar-info"
              role="progressbar"
              attr.aria-valuenow="{{ percentage }}"
              aria-valuemin="0"
              aria-valuemax="100"
              [ngStyle]="{ width: percentage + '%' }"
            >
              {{ percentage }}%
            </div>
          </div>
        <div class="border" style="background-color: gray;" >
            <label for="immageUrl"> url immagine </label>
            <input type="text"formControlName="immageUrl" >
        </div>
        <div class="border" style="background-color: white;" >
            <label for="titleOne"> titolo 1</label>
            <input type="text"formControlName="titleOne" >
            <label for="textOne">testo</label>
            <textarea formControlName="textOne" > testo </textarea>
        </div>
        <div class="border" style="background-color: gray;" >
            <label for="titleTwo"> titolo 2</label>
            <input type="text"formControlName="titleTwo" >
            <label for="textTwo">testo</label>
            <textarea formControlName="textTwo" > testo </textarea>
        </div>
        <div class="border" style="background-color: white;" >
            <label for="titleTree"> titolo 3</label>
            <input type="text"formControlName="titleTree" >
            <label for="textTree">testo</label>
            <textarea formControlName="textTree" > testo </textarea>
        </div>
        <div class="border" style="background-color: gray;" >
            <label for="titleFour"> titolo 4</label>
            <input type="text"formControlName="titleFour" >
            <label for="textFour">testo</label>
            <textarea formControlName="textFour" > testo </textarea>
        </div>
        <button (click)="submit()" [disabled]="!form.valid"> invia </button>
    </form> 
</div>

<p>immagini gia esistenti per la home</p>
<div class="carose" >
    <div class="container" *ngFor="let immage of immages">
        <h3>{{immage.id}}</h3>
        <button (click)="delete(immage.id)" >elimina</button>
        <img src="{{immage.immageUrl}}" alt="">
        <h3>{{immage.titleOne}}</h3>
        <p>{{immage.textOne}}</p>
        <h3>{{immage.titleTwo}}</h3>
        <p>{{immage.textTwo}}</p>
        <h3>{{immage.titleTree}}</h3>
        <p>{{immage.textTree}}</p>
        <h3>{{immage.titleFour}}</h3>
        <p>{{immage.textFour}}</p>
    </div>
    
</div>


<div>
  form di testo
  <form [formGroup]="testing">
    <input type="file" formControlName="immagine">
    <button (click)="test()" >invia</button>
  </form>
  
</div>