<footer class="footer pb-5 pt-5" >
    <div class="text-center">
        <h1>
            <span class="wh" >
                La Nostra 
            </span>
            <span>
                Sede
            </span>
        </h1>
    </div>
    <div class="text-center" >
        <ul class="dib m-5" >
            <li>
                <span class="wh" >
                    Sede Legale:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
            <li>
                <span class="wh" >
                    Sede operativa:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
        </ul>
        <ul class="dib m-5" >
            <li>
                <span class="wh" >
                    Telefono:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
            <li>
                <span class="wh" >
                    Fax:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
        </ul>
        <ul class="text-center display-responsive" style="list-style: none;">
            <li>
                <span class="wh" >Email: </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
        </ul>

    </div>
    
    <div class="text-center">
        <!--TODO: inserire dinamicamente--> 
        social
    </div>
    <div class="black-row mt-2" >
        <p class="text-truncate " style="max-width: 80%;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quia odio rem ullam dolores, iste velit dicta, sapiente dolore, exercitationem culpa iusto magni ab quos quasi illum! Quasi, velit omnis!
        </p>

    </div>

    <div>
        documentazioni per la pryvacy
    </div>

</footer>