
<div class="text-center" >
    <div>
        <a class="maps-link" href="https://www.google.it/maps/place/Via+Goffredo+Spinedi,+8,+00015+Monterotondo+RM/@42.0480471,12.618979,17.61z/data=!4m6!3m5!1s0x132f6fd548bcf789:0xb6eb0ed7aaed4356!8m2!3d42.0483703!4d12.6204636!16s%2Fg%2F11c5dlhcmh?entry=ttu">
            <h1><span style="color: red;">Dove</span> Siamo</h1>
            <hr style="width: 10%;color:red">
            <img class="maps" src="../../../assets/imgs/posizione.png" alt="mappa"> 
        </a>
    </div>
</div>

<footer class="footer pb-5 pt-5" >
    <div class="text-center">
        <h1>
            <span class="wh" >
                La Nostra 
            </span>
            <span>
                Sede
            </span>
        </h1>
    </div>
    <div class="text-center" >
        <ul class="dib m-5" >
            <li>
                <span class="wh" >
                    Sede Legale:
                </span>
                <span>
                    Via G. Spinedi 8 - 00015 Monterotondo
                </span>
            </li>
            <li>
                <span class="wh" >
                    Sede operativa:
                </span>
                <span>
                    Via G. Spinedi 8 - 00015 Monterotondo
                </span>
            </li>
        </ul>
        <ul class="dib m-5" >
            <li>
                <span class="wh" >
                    Telefono:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
            <li>
                <span class="wh" >
                    Fax:
                </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
        </ul>
        <ul class="text-center display-responsive" style="list-style: none;">
            <li>
                <span class="wh" >Email: </span>
                <span>
                    <!--TODO: inserire dinamicamente--> 
                    ins 
                </span>
            </li>
        </ul>

    </div>
    
    <div class="text-center">
        <!--TODO: inserire dinamicamente--> 
        social
    </div>
    <div class="black-row mt-2" >
        <p class="text-truncate " style="max-width: 80%;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quia odio rem ullam dolores, iste velit dicta, sapiente dolore, exercitationem culpa iusto magni ab quos quasi illum! Quasi, velit omnis!
        </p>

    </div>

    <div>
        documentazioni per la pryvacy
    </div>

</footer>