<nav class="navbar navbar-expand-lg bg-body-tertiary nav-gestion siky-position ">
    <div class="container-fluid nav-gestion">
      <!--TODO: rendere invisibile-->
      <a class="navbar-brand dd-no" href="#"></a>
      <button class="navbar-toggler" data-bs-theme="dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" ></span>
      </button>
      <div class="collapse navbar-collapse nav-gestion" id="navbarNav">
        <ul class="navbar-nav nav-ul">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chi siamo</a>
          </li>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            I nostri servizzi
          </a>
          <ul class="dropdown-menu">
            <!-- TODO: collegare con DB -->
            <li><a class="dropdown-item" href="#">Action</a></li>
          </ul>
          <li class="nav-item">
            <a class="nav-link">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>