<div>
    <section class="item-section" >
        <h1 class="text-center" > immagini principale della home </h1>
        <div class="section" >
            <div class="insert text-center" >
                <form [formGroup]="menu1">
                    <input  class=" dotter " type="file">
                    <button (click)="home1()" > button </button>
                </form>
            </div>
            <div class="p-2">
                <p>
                    inserire una nuova immagine per la home principale,
                    o modificare o eliminare quelle gia esistenti
                </p>
            </div>
        </div>
        <h2> immagini gia esistenti </h2>
        <div>
            <div>
                riquadro (attualmente non ci sono immagini caricate nel cloud)
            </div>
        </div>
    </section>

</div>

