.scrittura{
    font-size: 400%;
}
.centro{
    text-align: center;
}
.formi {
    background-image: url(https://i.gifer.com/33lM.gif);
}
.color{
    
    background: linear-gradient(110deg, #5d678f 10%, #44538e 60%);
}
.container{
    color: rgb(0, 0, 0);
}
.flexxo{
    text-align: center;
}
.font{
    font-family: fantasy;
    
}
.fontt{
    font-size: larger;
    color: rgb(0, 0, 0);
    font-family: cursive;
}
form{
    margin-left: 3%;
}