<app-navbar></app-navbar>
<div class="container-fluid formi">

   <form class="container col-11 flexxo">
        <div class="">
            <div class="">
                <h2 class="font" style="text-align: center; color: white; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 280%; padding-top: 5%; padding-bottom: 2%;">PREVENTIVI SERVIZI</h2>

                <hr>
                <br>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 16%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">16%</div>
                </div>
                <br>
                <hr>
                <br>
            </div>
            
            <!--<button type="button" (click)="test()">test in console</button>-->

            <!--scaglione 1-->
            <div class="container-fluid mirko" [class]="showControl(1,null)" >
                <span class="margine fontt">a quali servizi sei interessato? </span>
                <label for="type">pulizia
                   <input type="radio" name="type" (click)="changeType('pul')" value="pulizia"> 
                </label>

                <label for="type">giardinaggio
                    <input type="radio" name="type" (click)="changeType('gia')" value="giardinaggio"> 
                </label>
                
                <label for="type">controllo degli infestanti
                <input type="radio" name="type" (click)="changeType('con')" value="controllo degli infestanti"> 
                </label>
                
                <div class="margine" class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('ssi')?.pristine">AVANTI</button>
                </div>
            </div>

            <!--scaglione 2.1 - pulizie-->
    
            <div class="container-fluid mirko" [class]="showControl(2,'pul')" >

                <label for="type">pulizia condominiale
                    <input type="radio" formControlName="subType" value="pulizia condominiale"> 
                </label>

                <label for="type">Sgrosso industrial
                    <input type="radio" formControlName="subType" value="Sgrosso industriale"> 
                </label>
                
                <label for="type">Sgrosso civile
                <input type="radio" formControlName="subType" value="Sgrosso civile"> 
                </label>

                <div class="margine" class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('subType')?.pristine" >AVANTI</button>
                </div>
            </div>

            <!--scaglione 2.2 - giardinaggio-->

            <div class="container-fluid mirko" [class]="showControl(2,'gia')" >

                <label for="type">Realizzazione o cura giardinaggio privato
                    <input type="radio" formControlName="subType" value="Realizzazione o cura giardinaggio privato"> 
                </label>

                <label for="type">Cura del verde condominialel
                    <input type="radio" formControlName="subType" value="Cura del verde condominiale"> 
                </label>
                
                <label for="type">Trattamenti fitosanitari
                    <input type="radio" formControlName="subType" value="Trattamenti fitosanitari"> 
                </label>

                <label for="type">Potatura ad alto fusto
                    <input type="radio" formControlName="subType" value="Potatura ad alto fusto"> 
                </label>

                <div class="margine" class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('subType')?.pristine" >AVANTI</button>
                </div>
            </div>

            <!--scaglione 2.2 - giardinaggio-->

            <div class="container-fluid mirko" [class]="showControl(2,'con')" >

                <label for="type">Derattizzazione
                    <input type="radio" formControlName="subType" value="Derattizzazione"> 
                </label>
                
                <label for="type">Disinfestazione insetti alati
                    <input type="radio" formControlName="subType" value="Disinfestazione insetti alati"> 
                </label>

                <label for="type">o	Debiattizzazione
                    <input type="radio" formControlName="subType" value="o	Debiattizzazione"> 
                </label>

                <label for="type">Allontanamento volatili
                    <input type="radio" formControlName="subType" value="Allontanamento volatili"> 
                </label>

                <div class="margine" class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('subType')?.pristine" >AVANTI</button>
                </div>
            </div>

            <!--scaglione 3 - dati personali-->
            <div [class]="showControl(3,null)" >
                <div class="progress-bar" role="progressbar" style="width: 32%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">32%</div>
                <p>A chi invieremo il preventivo?</p>

                <label for="name">
                    <input type="text" formControlName="name" placeholder="nome">
                </label>

                <label for="surname">
                    <input type="text" formControlName="surname" placeholder="cognome">
                </label>

                <label for="email">
                    <input type="email" formControlName="email" placeholder="email">
                </label>

                <label for="telephon">
                    <input type="number" formControlName="prefix" [defaultValue]="+39">
                    <input type="number" formControlName="telephon" placeholder="333 3333 3333">
                </label>

                <div class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button
                        type="button" 
                        (click)="next()" 
                        [disabled]="(
                            mail.get('name')?.pristine &&
                            mail.get('surname')?.pristine &&
                            mail.get('email')?.pristine &&
                            mail.get('telephon')?.pristine)">
                        AVANTI
                    </button>
                </div>

            </div>


            <!-- scaglione 4 - tipo cliente -->
            <div [class]="showControl(4,null)" >
                <div class="progress-bar" role="progressbar" style="width: 48%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">48%</div>
                <p>Sei un'azienda, un privato o richiedi il servizio per conto di un Ente Pubblico?</p>
                <label for="typeCustomer">
                    <div>
                        <input type="radio" formControlName="typeCustomer" value="Azienda" >
                        <span>Azienda</span>
                    </div>
                    <div>
                        <input type="radio" formControlName="typeCustomer" value="Privato">
                        <span>Privato</span>
                    </div>
                    <div>
                        <input type="radio" formControlName="typeCustomer" value="Ente">
                        <span>Ente Pubblico</span>
                    </div>
                </label>
                <div class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('typeCustomer')?.pristine">AVANTI</button>
                </div>
            </div>

            <!--scaglione 5 - cadenza interventi-->
            <div [class]="showControl(5,null)" >
                <div class="progress-bar" role="progressbar" style="width: 64%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">64%</div>
                <p>Sei interessato a un singolo intervento o a un piano di mantenimento delle aree verdi?</p>
                <label for="times">
                    <div>
                        <input type="radio" formControlName="times" value="intervento" >
                        <span>un intervento</span>
                    </div>
                    <div>
                        <input type="radio" formControlName="times" value="interventi:3-6">
                        <span>Dai 3 ai 6 interventi</span>
                    </div>
                    <div>
                        <input type="radio" formControlName="times" value="interventi:6-12">
                        <span>Dai 6 ai 12 interventi</span>
                    </div>
                    <div>
                        <input type="radio" formControlName="times" value="interventi:12+">
                        <span>oltre i 12 interenti</span>
                    </div>
                </label>
                <div class="d-flex justify-content-between">
                    <button type="button" (click)="back()">INDIETRO</button>
                    <button type="button" (click)="next()" [disabled]="mail.get('times')?.pristine">AVANTI</button>
                </div>
            </div>

            <!--scaglione - 6 - dettagli interventi-->
            <div [class]="showControl(6,null)" >
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
                <p>inserire maggiori dettagli per l'intervento</p>

                <textarea name="dettail" cols="30" rows="10"></textarea>

                <button type="button"(click)="back()">INDIETRO</button>
                <button type="button"(click)="next()" >AVANTI</button>
            </div>

            <!--scaglione - 7 - indirizzo -->
            <div [class]="" >
                <p>Presso quale indirizzo sarà effettuato l'intervento?</p>
                <label for="addres">
                    <input type="text" name="addres" placeholder="via" id="">
                </label>
                <label for="addres-number">
                    <input type="number" name="addres-number" placeholder="1" id="">
                </label>
                <label for="city">
                    <input type="text" name="city" placeholder="email" id="">
                </label>
                <label for="province">
                    <input type="text" name="province" placeholder="39">
                </label>
                <label for="cap">
                    <input type="text" name="cap" placeholder="00010">
                </label>
                <label for="nation">
                    <input type="text" name="nation" placeholder="italia">
                </label>

                <div class="d-flex justify-content-between">
                    <button type="button"(click)="back()">INDIETRO</button>
                    <button type="button"(click)="saved()">
                        INVIA
                    </button>
                </div>
            </div>

        </div>
   </form>

</div>

   <!--<app-footer></app-footer> -->
