.bg{
    height: 100vh;
    background-size: cover;
}

.button-immages{
    border-radius: 50%;
    background-color: transparent;
    color: white;
}

.buttons{
    position: absolute;
    bottom: 0;
}