<div>
    <app-navbar></app-navbar>
    <app-head-immages *ngIf="bgImmages.length > 0" [data]=" bgImmages "></app-head-immages>
    <app-mission *ngIf="bgImmages.length == 0"  ></app-mission>
    <div class="d-flex justify-content-center p-5" >
        <div class="text-center max-width">
            <h1> Pulirex: Impresa di Pulizie Roma </h1>
            <h2> subtitle </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatem quasi, voluptate fuga hic beatae delectus sed molestias cupiditate obcaecati modi ea dolorem, dolor aliquid consequatur, sit consequuntur! Eius, qui?</p>
            <button> APPROFONDISCI </button>
        </div>
    </div>

    <app-gost-bakc-ground [data]="textGost" ></app-gost-bakc-ground>

    <app-footer></app-footer>
</div>
