<app-navbar></app-navbar>
<app-head-immages [data]="bgImmages" ></app-head-immages>

<div>
    <div class="text-center mt-5" >
        <div class="d-flex justify-content-center">
            <div class="d-inline">
                <h1> 
                    <span class="red" >Chi </span>
                    <span>Siamo</span>
                </h1>
                <hr class="red"/> 
            </div>
        </div>
   
        <h2 class="red">sottotitolo</h2>  
    </div>
    
    <app-split-text></app-split-text>
    
    <div class="text-center mt-5" >
        <div class="d-inline-block red" >
            <h2 > MOTI VI PER SCEGLIERCI </h2>
            <hr>
        </div>
        <app-gost-bakc-ground [data]="textGost" ></app-gost-bakc-ground>
    </div>

    <div class="text-center mt-2">
        <h3> il nostro team </h3>

        <div> serie di immagini </div>
    </div>
</div>