<div class="bg pt-5" [ngStyle]="{'background-image': 'url('+ bgTest.immageUrl +')'}">
    <div class=" d-flex justify-content-between">
        <div class="d-inline-block col-6 text-center" >
            <h1 class="red">{{ bgTest.titleOne }}</h1>
            <p class="white"> {{ bgTest.textOne }} </p> 
        </div>
        <div class="d-inline-block col-6 text-center" >
            <h1 class="red">{{ bgTest.titleTwo }}</h1>
            <p class="white"> {{ bgTest.textTwo }} </p> 
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        
        <div class="d-inline-block col-6 text-center" >
            <h1 class="red">{{ bgTest.titleTree }}</h1>
            <p class="white"> {{ bgTest.textTree }} </p> 
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-start">
        <div class="d-inline-block col-6 text-center" >
            <h1 class="red">{{ bgTest.titleFour }}</h1>
            <p class="white"> {{ bgTest.textFour }} </p> 
        </div>
    </div>

    <div class="buttons" *ngIf="bgImmages.length > 1">
        <button (click)="up(true)" class="button-immages" ><</button>
        <button (click)="down(true)" class="button-immages" >></button> 
    </div>
</div>