.bg{
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 40% 0;
    position: relative;
}
.button-immages{
    border-radius: 50%;
    background-color: transparent;
    color: white;
}

.buttons{
    position: absolute;
    bottom: 0;
}

.red{
    color: red;
}

.white{
    color: white;
}