<div class="container-fluid control-text d-flex justify-content-center mt-5" >
    <div class=" col-12 col-md-6 col-lg-4 d-inline-block " >
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
    </div>
    <div class=" col-12 col-md-6 col-lg-4 d-inline-block " >
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur necessitatibus nesciunt, ipsam hic accusantium aut maiores recusandae quae nisi saepe nihil. Inventore at, iure quidem asperiores ut sapiente veniam?
        </p>
    </div>
</div>