<div class="text-center">
    <h1 style="color: red;" > mission </h1>
    <div class="d-flex" >
        <p>
            Il nostro obiettivo è quello di valorizzare il servizio che il cliente paga. <br>
            È per noi di fondamentale importanza, in un' era dove ogni cosa ha un prezzo, fare si che il costo sostenuto dal cliente venga valorizzato dalla fornitura e messa in opera di un servizio professionale ed efficiente.
        </p>
        <p>
            L'ottimizzazione di quanto detto avviene anche tramite la disponibilità e la competenza dei nostri referenti e dei nostri operatori, costantemente formati sia sul campo che in aula.
            Non resta che provarci, richiedendo uno dei nostri servizi.
        </p>
    </div>
    <h3>Pulirex Srls.</h3>
</div>